@model IEnumerable<FlashHackForum.Models.SecondCategory>

@{
    ViewData["Title"] = "GetAllSecondCategoriesAsync";
}

<h1>GetAllSecondCategoriesAsync</h1>

<p>
    <a asp-action="CreateCategory">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-action="EditCategory" asp-route-id="@item.SecondCategoryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SecondCategoryId">Details</a> |
                    <a asp-action="DeleteCategory" asp-route-id="@item.SecondCategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
